<div class="element-item transition metal">
  <h3 class="name">{{dataElement.name}}</h3>
  <p class="symbol">{{dataElement.symbol}}</p>
  <p class="number">{{dataElement.number}}</p>
  <p class="weight">{{dataElement.weight}}</p>
</div>
