<ng-container>
 <div class="grid" #container>
    <app-element-item *ngFor="let item of items" [dataElement]="item"></app-element-item>
  </div>
</ng-container>
<ng-container>
  <div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
  </div>

</ng-container>
<router-outlet></router-outlet>
